.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #F5F5F5; }
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9c9797;
  border: 0 solid #9c9797; }

.modal-body .close-model {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #7b7878;
  position: absolute;
  right: 8px;
  top: 0;
  background: transparent;
  border: none; }
.modal-body .modal-custom {
  min-height: 200px; }
  .modal-body .modal-custom h5 {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #201e1e;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    text-transform: initial; }
  .modal-body .modal-custom .table-content {
    padding: 0 40px 40px; }
    .modal-body .modal-custom .table-content a {
      color: #8896a0;
      cursor: pointer;
      border-bottom: 1px solid #8896a052; }
      .modal-body .modal-custom .table-content a:hover, .modal-body .modal-custom .table-content a:active, .modal-body .modal-custom .table-content a:focus {
        text-decoration: none;
        color: #7b7878;
        border-bottom: 1px solid #7b7878; }

.modal-list-dashboard .custom-a-btn a {
  position: absolute;
  bottom: 14px;
  right: 102px;
  font-size: 14px;
  background: #3598dc;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  padding: 7px 11px;
  text-transform: initial;
  border-radius: 4px !important; }
  .modal-list-dashboard .custom-a-btn a:hover, .modal-list-dashboard .custom-a-btn a:active, .modal-list-dashboard .custom-a-btn a:focus {
    color: #ffffff;
    background-color: #0F77AE;
    text-decoration: none; }
.modal-list-dashboard button {
  position: absolute;
  bottom: 14px;
  font-weight: 600;
  right: 24px;
  border-radius: 4px !important;
  background-color: #AAB5BC;
  color: #ffffff; }
  .modal-list-dashboard button:hover, .modal-list-dashboard button:active, .modal-list-dashboard button:focus {
    color: #ffffff;
    background-color: #7b7878; }

.warning-alert {
  padding: 15px;
  background: #ffeec0;
  color: #aa890a;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .warning-alert button {
    background: transparent;
    border: none;
    position: absolute;
    right: 26px;
    top: 6px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer; }
  .warning-alert h4 {
    margin-top: 0;
    color: inherit;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px; }
  .warning-alert p {
    margin: 0; }
    .warning-alert p:last-child {
      margin-top: 10px; }
  .warning-alert a {
    background: #c29d0b;
    border: 1px solid #c29d0b;
    color: #ffffff;
    padding: 6px 16px;
    font-size: 15px;
    display: inline-block; }
    .warning-alert a:hover {
      text-decoration: none;
      background-color: #aa890a;
      border: 1px solid #aa890a; }

.danger-alert {
  padding: 15px;
  background: #ffc1c6;
  color: #e74a4e;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .danger-alert button {
    background: transparent;
    border: none;
    position: absolute;
    right: 26px;
    top: 6px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer; }
  .danger-alert h4 {
    margin-top: 0;
    color: inherit;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px; }
  .danger-alert p {
    margin: 0; }
    .danger-alert p:last-child {
      margin-top: 10px; }
  .danger-alert a {
    background: #e74a4e;
    border: 1px solid #e74a4e;
    color: #ffffff;
    padding: 6px 16px;
    font-size: 15px;
    display: inline-block; }
    .danger-alert a:hover {
      text-decoration: none;
      background-color: #e43338;
      border: 1px solid #e43338; }

.info-alert {
  padding: 15px;
  background: #c1e1f1;
  color: #0F77AE;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .info-alert button {
    background: transparent;
    border: none;
    position: absolute;
    right: 26px;
    top: 6px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer; }
  .info-alert h4 {
    margin-top: 0;
    color: inherit;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px; }
  .info-alert p {
    margin: 0; }
    .info-alert p:last-child {
      margin-top: 10px; }
  .info-alert a {
    background-color: #0F77AE;
    border-color: #0F77AE;
    color: #ffffff;
    padding: 6px 16px;
    font-size: 15px;
    display: inline-block; }
    .info-alert a:hover {
      text-decoration: none;
      background-color: #054F91;
      border-color: #054F91; }

.success-alert {
  padding: 15px;
  background: #c9eab9;
  color: #00a651;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .success-alert button {
    background: transparent;
    border: none;
    position: absolute;
    right: 26px;
    top: 6px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer; }
  .success-alert h4 {
    margin-top: 0;
    color: inherit;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px; }
  .success-alert p {
    margin: 0; }
    .success-alert p:last-child {
      margin-top: 10px; }
  .success-alert a {
    background-color: #00a651;
    border-color: #00a651;
    color: #ffffff;
    padding: 6px 16px;
    font-size: 15px;
    display: inline-block; }
    .success-alert a:hover {
      text-decoration: none;
      background-color: #008d45;
      border-color: #008d45; }

.timeline-point {
  list-style-type: none;
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin: 0 0 15px;
  padding: 0; }
  .timeline-point li {
    transition: all 200ms ease-in; }
    .timeline-point li .username p {
      font-size: 11px;
      text-align: center;
      white-space: nowrap;
      margin-bottom: 10px;
      padding-right: 10px;
      max-width: 136px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
    .timeline-point li .timestamp {
      margin-bottom: 20px;
      padding: 0 40px;
      display: flex;
      align-items: center;
      font-weight: 100; }
      .timeline-point li .timestamp p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0; }
    .timeline-point li .status {
      padding: 0 20px;
      display: flex;
      justify-content: center;
      border-top: 1px solid #00a651;
      position: relative;
      transition: all 200ms ease-in; }
      .timeline-point li .status .hidden-icon {
        color: transparent;
        cursor: default; }
      .timeline-point li .status:before {
        content: "";
        width: 14px;
        height: 14px;
        border-radius: 25px;
        position: absolute;
        top: -8px;
        left: 45%;
        background-color: #00a651;
        border: none;
        transition: all 200ms ease-in; }
  .timeline-point::-webkit-scrollbar {
    height: 5px; }
  .timeline-point::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3); }
  .timeline-point::-webkit-scrollbar-thumb {
    background-color: #bdbdbd; }

.content-empty {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .content-empty p {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px; }

.empty-modal {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: center; }
  .empty-modal p {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px; }

.fix-text {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-align: left;
  margin: 0; }

.status-pending1 {
  padding: 5px 10px 6px 10px;
  color: #ffffff;
  background-color: #a5afbd;
  border: none;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px !important; }

.status-working1 {
  padding: 5px 10px 6px 10px;
  color: #ffffff;
  background-color: #3598dc;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  border: none;
  border-radius: 4px !important; }

.status-interval1 {
  padding: 5px 10px 6px 10px;
  color: #ffffff;
  background-color: #0F77AE;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  border: none;
  border-radius: 4px !important; }

.status-done1 {
  padding: 5px 10px 6px 10px;
  color: #ffffff;
  background-color: #00a651;
  border: none;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px !important; }

.status-incorrect1 {
  padding: 5px 10px 6px 10px;
  color: #ffffff;
  background-color: #c29d0b;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 4px !important; }

.status-fault1 {
  padding: 5px 10px 6px 10px;
  color: #ffffff;
  background-color: #e74a4e;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 4px !important; }

.status-solicitation {
  padding: 5px 10px 6px 10px;
  margin: 0;
  color: #ffffff;
  background-color: #c29d0b;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 4px !important; }

.status-disapproved {
  padding: 5px 10px 6px 10px;
  margin: 0;
  color: #ffffff;
  background-color: #e74a4e;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 4px !important; }

.status-approved {
  padding: 5px 10px 6px 10px;
  margin: 0;
  color: #ffffff;
  background-color: #00a651;
  border: none;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px !important; }

.hours-plus {
  border: 1px solid #00a651;
  color: #00a651;
  margin: 0;
  background: transparent;
  width: 30%;
  text-align: center;
  padding: 4px 10px; }
  @media only screen and (max-device-width: 414px) {
    .hours-plus {
      width: 100%; } }

.hours-fault {
  border: 1px solid #e74a4e;
  color: #e74a4e;
  margin: 0;
  background: transparent;
  width: 30%;
  text-align: center;
  padding: 4px 10px; }
  @media only screen and (max-device-width: 414px) {
    .hours-fault {
      width: 100%; } }

.info-card-blue {
  margin: 20px 0; }
  .info-card-blue div {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3598dc;
    padding-left: 60px; }
    @media only screen and (max-device-width: 414px) {
      .info-card-blue div {
        font-size: 20px; } }
    .info-card-blue div:first-child {
      font-size: 26px;
      font-weight: 700;
      text-transform: none;
      color: #3598dc;
      float: left;
      margin: 6px auto auto;
      padding: 3px 14px;
      border: 1px solid #3598dc;
      border-radius: 100px !important; }
    .info-card-blue div:last-child {
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
      color: #3598dc;
      padding-left: 60px; }
      @media only screen and (max-device-width: 414px) {
        .info-card-blue div:last-child {
          font-size: 12px; } }

.border-spacing {
  justify-content: space-between;
  border-collapse: separate;
  border-spacing: 5px 0; }

.default-btn-bue {
  border-radius: 4px !important;
  background-color: #3598dc;
  padding: 7px 35px 7px 35px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  border: none;
  margin: 10px 0; }
  .default-btn-bue:hover, .default-btn-bue:active, .default-btn-bue:focus {
    background-color: #0F77AE;
    color: #ffffff; }

.btn-blue-full-radius {
  font-size: 14px;
  text-align: center;
  display: table-cell;
  white-space: nowrap;
  height: 34px;
  width: 34px;
  cursor: pointer;
  border: none;
  padding: 8px 0;
  margin: 0 1%;
  color: #ffffff;
  background-color: #3598dc;
  border-radius: 50px !important; }
  .btn-blue-full-radius i {
    width: 34px;
    font-size: 15px;
    text-align: center; }
  .btn-blue-full-radius:hover, .btn-blue-full-radius:active, .btn-blue-full-radius:focus {
    color: #ffffff;
    background-color: #0F77AE;
    text-decoration: none; }

.header-of-pages {
  max-height: 74px;
  height: 74px;
  border-bottom: 1px solid #00000047;
  background: #ffffff;
  padding-bottom: 12px; }
  .header-of-pages .title {
    display: inline-block;
    float: left;
    padding: 22px 0; }
    .header-of-pages .title h1 {
      color: #201e1e;
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      padding: 0; }
      @media only screen and (max-device-width: 414px) {
        .header-of-pages .title h1 {
          font-size: 20px; } }
    @media only screen and (max-device-width: 414px) {
      .header-of-pages .title {
        padding: 24px 0; } }
  @media only screen and (max-device-width: 414px) {
    .header-of-pages {
      border-top: 1px solid #00000047; } }

.breadcrumb-content {
  margin: 20px 0 0; }
  .breadcrumb-content ul {
    list-style: none;
    background: 0 0;
    padding: 0 0 15px;
    margin: 0;
    color: #7b7878; }
    .breadcrumb-content ul li {
      display: inline-block; }
      .breadcrumb-content ul li a {
        color: #7b7878;
        text-shadow: none; }
        .breadcrumb-content ul li a:hover, .breadcrumb-content ul li a:active, .breadcrumb-content ul li a:focus {
          text-decoration: none;
          border-bottom: 1px solid #AAB5BC; }
        @media only screen and (max-device-width: 340px) {
          .breadcrumb-content ul li a {
            font-size: 12px; } }
      .breadcrumb-content ul li i {
        color: #7b7878;
        font-size: 6px;
        margin: 0 2px 0 4px;
        top: -2px;
        position: relative; }
      .breadcrumb-content ul li .active {
        color: #3598dc;
        border-bottom: 1px solid #3598dc; }
      @media only screen and (max-device-width: 340px) {
        .breadcrumb-content ul li {
          font-size: 12px; } }
  @media only screen and (max-device-width: 340px) {
    .breadcrumb-content {
      margin: 15px 0 0 0; } }

.box-filter {
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important; }
  .box-filter .loading-value-select {
    position: absolute;
    background: transparent;
    z-index: 1;
    width: 89%;
    height: 47%;
    cursor: no-drop;
    border-radius: 100px !important; }
    .box-filter .loading-value-select i {
      position: absolute;
      right: 30px;
      top: 10px; }
      @media only screen and (max-device-width: 768px) {
        .box-filter .loading-value-select i {
          right: 0; } }
      @media only screen and (max-device-width: 414px) {
        .box-filter .loading-value-select i {
          right: 30px; } }
  .box-filter .form-filter label {
    color: #7b7878;
    font-weight: 400;
    margin-left: 12px; }
  .box-filter .form-filter .print {
    color: #3598dc;
    position: absolute;
    right: 30px;
    top: -25px;
    width: 105px;
    border: 1px solid #3598dc;
    border-radius: 4px !important;
    padding: 2px 12px; }
    .box-filter .form-filter .print i {
      margin-left: 5px; }
    .box-filter .form-filter .print:hover, .box-filter .form-filter .print:focus, .box-filter .form-filter .print:active {
      text-decoration: none;
      color: #ffffff;
      background: #3598dc;
      border: 1px solid #3598dc; }
    @media only screen and (max-device-width: 414px) {
      .box-filter .form-filter .print {
        position: unset;
        margin-bottom: 20px;
        margin-left: 20px;
        display: block; } }
  .box-filter .form-filter .input-with-date input {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    border-right: transparent; }
  .box-filter .form-filter .input-with-date .input-group-btn {
    top: 12px; }
    .box-filter .form-filter .input-with-date .input-group-btn button {
      color: #8d8989;
      border-top-right-radius: 25px !important;
      border-bottom-right-radius: 25px !important; }
  .box-filter .form-filter .input-with-date .invalid-value {
    display: table-footer-group; }
  @media only screen and (max-device-width: 414px) {
    .box-filter .form-filter .input-with-date {
      margin-bottom: 10px; } }
  .box-filter .form-filter .input-select .invalid {
    position: absolute;
    bottom: -7px;
    display: block; }
  .box-filter .form-filter angucomplete-alt input {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important; }
  .box-filter .form-filter angucomplete-alt i {
    color: #B2B2B2;
    float: right;
    position: relative;
    top: -24px;
    right: 16px; }
  .box-filter .form-filter .nya-bs-select button {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important; }
  .box-filter .form-filter .nya-bs-select .dropdown-menu {
    top: 10px !important; }

.box-list-user-selected .list-user {
  margin: 10px 0 20px;
  color: #7b7878;
  font-size: 16px; }
  @media only screen and (max-device-width: 414px) {
    .box-list-user-selected .list-user {
      font-size: 14px;
      margin-bottom: 50px; } }
.box-list-user-selected .remove-all {
  float: right;
  cursor: pointer;
  color: #e74a4e;
  border: 1px solid #e74a4e;
  border-radius: 4px !important;
  padding: 2px 12px;
  font-size: 14px;
  font-weight: normal; }
  .box-list-user-selected .remove-all i {
    margin-left: 5px; }
  .box-list-user-selected .remove-all:hover {
    color: #ffffff;
    background-color: #e74a4e; }
  @media only screen and (max-device-width: 414px) {
    .box-list-user-selected .remove-all {
      margin-top: 10px; } }
.box-list-user-selected .user-selected {
  background: #f0f0f0;
  padding: 10px;
  margin-bottom: 15px; }
  .box-list-user-selected .user-selected span:first-child {
    font-weight: bold;
    color: #201e1e;
    display: block;
    max-width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }
  .box-list-user-selected .user-selected span:last-child {
    font-size: 16px;
    color: #e74a4e;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 22px;
    top: 10px; }

.result-list-table {
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 40px 40px 20px 40px;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important; }
  .result-list-table .content-title {
    font-size: 15px;
    font-weight: 600;
    color: #7b7878;
    border-bottom: 1px solid #7b7878;
    float: right;
    margin-bottom: 30px;
    margin-top: 0; }
  .result-list-table blockquote {
    padding: 0 20px;
    margin: 0 0 30px;
    border-left: 5px solid #7b7878; }
    .result-list-table blockquote p {
      font-size: 15px;
      font-weight: 600;
      color: #7b7878;
      margin: 0 0 6px; }
  .result-list-table table .link {
    color: #3598dc;
    border-bottom: 1px solid #3598dc;
    cursor: pointer; }
    .result-list-table table .link:hover, .result-list-table table .link:focus, .result-list-table table .link:active {
      font-weight: 600;
      text-decoration: none;
      color: #0F77AE;
      border-bottom: 1px dashed #0F77AE; }
  .result-list-table table tbody tr td ul {
    display: block;
    margin: 0;
    padding: 0; }
    .result-list-table table tbody tr td ul li {
      display: inline-block;
      vertical-align: top;
      list-style: none; }
      .result-list-table table tbody tr td ul li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
        text-align: center;
        color: #0F77AE;
        display: block;
        border-radius: 100px !important;
        -webkit-transition: all .3s ease;
        -moz-transition: ease all .3s;
        -o-transition: ease all .3s;
        transition: all .3s ease; }
        .result-list-table table tbody tr td ul li a i {
          font-size: 17px; }
        .result-list-table table tbody tr td ul li a:hover {
          background: #0F77AE;
          color: #ffffff; }

.latest-records-today {
  background-color: #ffffff;
  padding: 15px 20px 10px;
  margin-top: 0;
  margin-bottom: 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .latest-records-today .title {
    min-height: 48px;
    border-bottom: 1px solid #eeeeee;
    padding: 0;
    margin-bottom: 10px; }
    .latest-records-today .title p {
      font-size: 18px;
      color: #054F91;
      text-transform: uppercase;
      font-weight: bold;
      float: left;
      display: inline-block;
      margin-top: 10px; }
      @media only screen and (max-device-width: 340px) {
        .latest-records-today .title p {
          font-size: 14px; } }
    .latest-records-today .title a {
      float: right;
      display: inline-block;
      color: #054F91;
      border: 1px solid #054F91;
      border-radius: 50px !important;
      padding: 4px 10px;
      font-size: 13px;
      margin-top: 4px; }
      .latest-records-today .title a:hover, .latest-records-today .title a:active, .latest-records-today .title a:focus {
        text-decoration: none;
        color: #ffffff;
        border-color: #054F91;
        background-color: #054F91; }
      @media only screen and (max-device-width: 414px) {
        .latest-records-today .title a {
          margin-top: 0;
          margin-bottom: 20px; } }

.mini-box {
  min-height: 170px;
  background: #ffffff;
  padding: 15px 15px 0;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .mini-box .view a {
    position: absolute;
    bottom: 26px;
    left: 30px;
    font-size: 12px;
    color: #7b7878;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold; }
    .mini-box .view a:hover {
      text-decoration: underline; }
    @media only screen and (max-device-width: 1024px) {
      .mini-box .view a {
        bottom: 26px; } }

.box-hour small {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #7b7878;
  letter-spacing: 0; }
.box-hour p {
  text-align: center;
  margin-top: 10px; }
  .box-hour p span:first-child {
    color: #3598dc; }
  .box-hour p span:last-child {
    color: #3598dc;
    font-weight: bold;
    font-size: 41px;
    margin-left: 2%; }

.working-employees .working-total small {
  float: left;
  font-weight: bold;
  font-size: 27px;
  color: #3598dc; }
.working-employees .working-total i {
  float: right;
  margin-top: 8px;
  color: #7b7878;
  font-size: 24px; }
.working-employees .working p {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #7b7878;
  letter-spacing: 0;
  margin-top: 10px; }
  @media only screen and (max-device-width: 1024px) {
    .working-employees .working p {
      margin: 7px 0 5px; } }
.working-employees .progress {
  margin: 0;
  height: 5px;
  clear: both;
  display: block; }
  .working-employees .progress span {
    float: left;
    width: 0;
    max-width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #00a651;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease; }
.working-employees .status {
  margin-top: 5px;
  font-size: 11px;
  color: #AAB5BC;
  font-weight: 600;
  text-transform: uppercase; }
  .working-employees .status p {
    margin-top: 4px; }
    .working-employees .status p:first-child {
      float: left;
      display: inline-block; }
    .working-employees .status p:last-child {
      float: right;
      display: inline-block; }

.output .title small {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #7b7878;
  letter-spacing: 0; }
.output .info {
  margin-top: 10px; }
  .output .info i {
    font-size: 25px;
    padding: 20px;
    color: #ffffff;
    background: #5e8bae;
    border-radius: 4px !important;
    margin-top: 11px;
    display: inline-block; }
    .output .info i:before {
      content: "\f04c"; }
  .output .info p {
    display: inline-block;
    margin: 0 0 0 3%;
    font-size: 33px;
    font-weight: bold;
    color: #7b7878; }
    .output .info p:last-child {
      display: block;
      margin-left: 3%;
      font-size: 11px;
      font-weight: bold;
      color: #7b7878; }
      @media only screen and (max-device-width: 1024px) {
        .output .info p:last-child {
          margin: 0 0 0 20%; } }
      @media only screen and (max-device-width: 764px) {
        .output .info p:last-child {
          margin: 0 0 0 3%; } }
    @media only screen and (max-device-width: 1024px) {
      .output .info p {
        margin: 0 0 0 20%; } }
    @media only screen and (max-device-width: 764px) {
      .output .info p {
        margin: 0 0 0 3%; } }

.no-presence .title small {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #7b7878;
  letter-spacing: 0; }
.no-presence .info {
  margin-top: 10px; }
  .no-presence .info i {
    font-size: 25px;
    padding: 20px;
    color: #ffffff;
    background: #e74a4e;
    border-radius: 4px !important;
    margin-top: 11px;
    display: inline-block; }
    .no-presence .info i:before {
      content: "\f04c"; }
  .no-presence .info p {
    display: inline-block;
    margin: 0 0 0 3%;
    font-size: 33px;
    font-weight: bold;
    color: #7b7878; }
    .no-presence .info p:last-child {
      display: block;
      margin-left: 3%;
      font-size: 11px;
      font-weight: bold;
      color: #7b7878; }
      @media only screen and (max-device-width: 1024px) {
        .no-presence .info p:last-child {
          margin: 0 0 0 20%; } }
      @media only screen and (max-device-width: 764px) {
        .no-presence .info p:last-child {
          margin: 0 0 0 3%; } }
    @media only screen and (max-device-width: 1024px) {
      .no-presence .info p {
        margin: 0 0 0 20%; } }
    @media only screen and (max-device-width: 764px) {
      .no-presence .info p {
        margin: 0 0 0 3%; } }

.box-info .title .yellow {
  color: #c29d0b; }
.box-info .title .red {
  color: #e74a4e; }
.box-info .title .green {
  color: #00a651; }
.box-info .title p {
  margin: 0 0 2px;
  padding: 0;
  font-size: 34px;
  font-weight: 600; }
.box-info .title small {
  font-size: 14px;
  color: #7b7878;
  font-weight: 600;
  text-transform: uppercase;
  display: block; }
.box-info .title i {
  display: inline-block;
  float: right;
  padding: 7px 0 0;
  color: #7b7878;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px; }

.custom-box-home {
  position: relative;
  overflow: auto;
  width: auto;
  height: 350px; }

.box-dash-contributors {
  padding: 12px 20px 15px;
  background-color: #ffffff;
  margin: 0 0 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .box-dash-contributors .caption {
    border-bottom: 1px solid #eeeeee;
    min-height: 48px;
    padding: 0;
    margin-bottom: 10px; }
    .box-dash-contributors .caption p {
      font-size: 15px;
      color: #201e1e;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      padding: 0;
      margin: 10px 0 0; }
      .box-dash-contributors .caption p span {
        padding: 0 0 0 5px;
        margin: 0;
        line-height: 13px;
        color: #AAB5BC;
        font-size: 13px;
        font-weight: 400; }
    .box-dash-contributors .caption a {
      float: right;
      border-bottom: 4px solid #3598dc;
      padding: 12px 13px 13px;
      font-size: 14px;
      color: #054F91; }
      @media only screen and (max-device-width: 414px) {
        .box-dash-contributors .caption a {
          position: absolute;
          right: 35px; } }
      @media only screen and (max-device-width: 340px) {
        .box-dash-contributors .caption a {
          position: absolute;
          right: 26px; } }
      .box-dash-contributors .caption a:hover, .box-dash-contributors .caption a:focus, .box-dash-contributors .caption a:active {
        text-decoration: none;
        border-bottom: 4px solid #054F91; }
  .box-dash-contributors .empty {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: #201e1e; }

.box-dash-notification {
  padding: 12px 20px 15px;
  background-color: #ffffff;
  margin: 0 0 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  /*ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      div {
        background-color: #fafafa;
        color: #82949a;
        margin-bottom: 7px;


      .name {
        p {
          padding-top: 4px;
          padding-bottom: 5px;
          overflow: hidden;
          margin: 0;
        }
      }

      .hours {
        p {
          padding: 4px 9px 5px 4px;
          text-align: right;
          font-style: italic;
          color: #c1cbd0;
          margin: 0;
        }
      }

      i {
        float: left;
        color: $white;
        position: absolute;
        left: 15px;
        text-align: center;
        padding: 0;
        width: 70%;
        line-height: 27px !important;
      }
      }
      &:before {
        display: table;
        line-height: 0;
        content: "";
      }

      &:hover {
        cursor: pointer;
      }
    }
  } */ }
  .box-dash-notification .caption {
    border-bottom: 1px solid #eeeeee;
    min-height: 48px;
    padding: 0;
    margin-bottom: 10px; }
    .box-dash-notification .caption p {
      font-size: 15px;
      color: #201e1e;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      padding: 0;
      margin: 10px 0 0; }
      .box-dash-notification .caption p span {
        padding: 0 0 0 5px;
        margin: 0;
        line-height: 13px;
        color: #AAB5BC;
        font-size: 13px;
        font-weight: 400; }
    .box-dash-notification .caption a {
      float: right;
      border-bottom: 4px solid #3598dc;
      padding: 12px 13px 13px;
      font-size: 14px;
      color: #054F91; }
      @media only screen and (max-device-width: 414px) {
        .box-dash-notification .caption a {
          position: absolute;
          right: 35px; } }
      @media only screen and (max-device-width: 340px) {
        .box-dash-notification .caption a {
          position: absolute;
          right: 26px; } }
      .box-dash-notification .caption a:hover, .box-dash-notification .caption a:focus, .box-dash-notification .caption a:active {
        text-decoration: none;
        border-bottom: 4px solid #054F91; }
  .box-dash-notification .empty {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: #201e1e; }

.box-dash-solicitation {
  padding: 12px 20px 15px;
  background-color: #ffffff;
  margin: 0 0 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .box-dash-solicitation .caption {
    border-bottom: 1px solid #eeeeee;
    min-height: 48px;
    padding: 0;
    margin-bottom: 10px; }
    .box-dash-solicitation .caption p {
      font-size: 15px;
      color: #201e1e;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      padding: 0;
      margin: 10px 0 0; }
      .box-dash-solicitation .caption p span {
        padding: 0 0 0 5px;
        margin: 0;
        line-height: 13px;
        color: #AAB5BC;
        font-size: 13px;
        font-weight: 400; }
    .box-dash-solicitation .caption a {
      float: right;
      border-bottom: 4px solid #3598dc;
      padding: 12px 13px 13px;
      font-size: 14px;
      color: #054F91; }
      @media only screen and (max-device-width: 414px) {
        .box-dash-solicitation .caption a {
          position: absolute;
          right: 15px; }
          .box-dash-solicitation .caption a:last-child {
            position: absolute;
            right: 100px; } }
      .box-dash-solicitation .caption a:hover, .box-dash-solicitation .caption a:focus, .box-dash-solicitation .caption a:active {
        text-decoration: none;
        border-bottom: 4px solid #054F91; }
    .box-dash-solicitation .caption .active {
      border-bottom: 4px solid #054F91; }
  .box-dash-solicitation .empty {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: #201e1e; }
  .box-dash-solicitation .user {
    background: #f9f9f9;
    border: 1px dashed #8f8d8d;
    padding: 15px 10px 10px 10px;
    border-radius: 4px !important;
    margin-bottom: 20px; }
    .box-dash-solicitation .user img {
      border-radius: 50% !important;
      display: inline-block;
      float: left;
      height: 60px;
      width: 60px; }
      @media only screen and (max-device-width: 414px) {
        .box-dash-solicitation .user img {
          height: 40px;
          width: 40px; } }
    .box-dash-solicitation .user .author p:first-child {
      display: inline-block;
      float: left;
      margin: 0 0 10px;
      color: #201e1e;
      font-weight: 600; }
    .box-dash-solicitation .user .author p:last-child {
      display: inline-block;
      float: right;
      margin: 0;
      color: #7b7878; }
      @media only screen and (max-device-width: 414px) {
        .box-dash-solicitation .user .author p:last-child {
          float: left; } }
    .box-dash-solicitation .user .reason p {
      margin: 0;
      color: #7b7878; }
    .box-dash-solicitation .user .status p {
      display: inline-block;
      margin: 10px 0 0; }
    .box-dash-solicitation .user .status a {
      position: absolute;
      right: 0;
      bottom: 0;
      color: #7b7878; }
      .box-dash-solicitation .user .status a:hover {
        text-decoration: none;
        border-bottom: 1px solid #201e1e; }
    .box-dash-solicitation .user .status .yellow {
      color: #c29d0b; }
    .box-dash-solicitation .user .status .red {
      color: #e74a4e; }
    .box-dash-solicitation .user .status .success {
      color: #00a651; }

/* Content Mini Box Loading */
.loader-mini-box {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .loader-mini-box .spinner-box {
    height: 64px;
    text-align: center; }
    .loader-mini-box .spinner-box .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s; }
    .loader-mini-box .spinner-box .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s; }
    .loader-mini-box .spinner-box .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s; }
    .loader-mini-box .spinner-box .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s; }

/* Content Page Loading */
.loader-page-content {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .loader-page-content .spinner {
    height: 64px;
    text-align: center; }
    .loader-page-content .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s; }
    .loader-page-content .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s; }
    .loader-page-content .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s; }
    .loader-page-content .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s; }

.loading-btn .spinner-btn {
  height: 20px;
  text-align: center; }
  .loading-btn .spinner-btn .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  .loading-btn .spinner-btn .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }
  .loading-btn .spinner-btn .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  .loading-btn .spinner-btn .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }

/* Global Loading Spinner */
.spinner-box > div {
  background-color: #3598dc;
  width: 4px;
  height: 64px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner-btn > div {
  background-color: #ffffff;
  width: 4px;
  height: 20px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner > div {
  background-color: #3598dc;
  width: 8px;
  height: 64px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

/*# sourceMappingURL=style.css.map */
